.button{
    -fx-background-color: #55b3f3;
    -fx-text-fill: #FFFFFF;
    -fx-background-raduis: 4;
}
.label{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #55b3f3;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}