/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.navbar{
    -fx-fill:#6356e5 ;
}
.bg{
    -fx-fill:#f3f6f6 ;
}

.sections{
    -fx-text-fill:#f3f6f6;
    -fx-font-size:32px;
    -fx-font-family: "Roboto Bold";
    -fx-cursor:hand;
}

.welcome{
    -fx-text-fill:#f3f6f6;
}

.pp{
    -fx-pref-height:200px;
    -fx-pref-width:200px;
    -fx-cursor:hand;
}

.logout{
    -fx-cursor:hand;
}

.userinfo{
    /*-fx-text-fill:#6356e5;*/
    -fx-text-fill:black;
    -fx-font-size:24px;
    -fx-font-family: "Roboto Bold";
}

.bio{
    /*-fx-text-fill:#6356e5;*/
    -fx-text-fill:black;
    -fx-font-size:12px;
    -fx-font-family: "Roboto Bold";
}

.submit{
    -fx-font-family: "Roboto Bold";
    -fx-background-color: #66d37e;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-cursor:hand;
}

.submit:pressed{
    -fx-font-family: "Roboto Bold";
    -fx-background-color: #53b869;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-cursor:hand;
}
.cancel{
    -fx-font-family: "Roboto Bold";
    -fx-background-color: #ca3435;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-cursor:hand;
}

.cancel:pressed{
    -fx-font-family: "Roboto Bold";
    -fx-background-color: #a82a2b;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-cursor:hand;
}

.credentials{
    -fx-text-fill:black;
    -fx-font-size:24px;
    -fx-font-family: "Roboto Bold";
    -fx-cursor:hand;
}